* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.btn {
  padding: 2em 5rem;
  border-radius: 50px;
  border: none;
  text-align: center;
}

.blue {
  background-color: #2d227d;
}

.orange {
  background-color: #e85d04;
}

.cyan {
  background-color: hsl(185, 75%, 39%);
}

.aqua {
  background-color: #48bfe3;
}

.science {
  display: flex;
  justify-content: space-between;
  box-shadow: inset;
  border: darkgray;
  border-color: darkgray;
  margin-top: 2rem;
  height: 80%;
}

.paragraph {
  color: darkgray;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
  height: 50%;
  width: 30%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.stem {
  color: hsl(185, 75%, 39%);
}

.circles {
  border-radius: 50%;
  height: 50px;
  border: none;
  padding: 5em;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.round__circles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tech {
  padding: 2em;
  width: 90%;
  text-align: center;
  box-shadow: 0px 0px 5px darkgray;
  margin-bottom: 2rem;
}

.text {
  text-align: center;
  font-size: 3rem;
  font-weight: 2rem;
}

.tech:nth-child(2) {
  margin-left: 1em;
  margin-right: 1em;
}

.main__steam {
  background-color: #48bfe3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.main__button {
  padding: 2em 3em;
  border: solid black;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 2em;
  padding-bottom: 1em;
}

.content__mechanical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.content__mechanical ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.about__us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em;
  padding-top: 2em;
}

.about__paragraph {
  flex: 1;
  width: 50%;
}

.about__img {
  flex: 1;
  width: 50%;
}

.about__us h3 {
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 2rem;
}

.about__us h2 {
  color: #2d227d;
  font-weight: 3em;
  font-size: 3em;
}

.simulation__content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/back.png");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: #48bfe3;
  font-size: 2em;
  font-weight: 1.5em;
}

.simulation__subject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  padding-bottom: 2em;
}

.simulation__content__profile {
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight: 2em;
}

.simulation__content__profile h2 {
  color: #e85d04;
  margin-bottom: 1em;
}