$dark-cyan:hsl(185, 75%, 39%);
$pink: #e05780;
$blue:#2d227d ;
$orange: #e85d04;
$yellow:#ffc300;
$aqua-blue:#48bfe3;
$darkgray:#f4f7fb;
$orange-red	:hsl(39, 94%, 50%);
$dark-violet : hsl(278, 82%, 32%) ;                                                                                                                                                                          
