$dark-cyan:hsl(185, 75%, 39%);
$sea-green:hsl(46,139,87%);
$orange-red	:hsl(39, 94%, 50%);
$dark-violet : hsl(278, 82%, 32%) ;                                                                                                                                                                          