@use "../utilites/mixins" as *;
@use "../utilites/variables" as *;
.about__us{
    @include flex(center,center,)
}
.about__us button{
    border: solid black;
    border-radius: 10px;
    margin-top: 2em;
    background-color: aqua;
}
.about__us{
    @include flex(space-around,center,column);
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
.about{
    @include flex(center,center);
    width: 50%;
}




















