@use "../utilites/mixins";
@use "../utilites/variables";
.home__page{
    background-image: url(../images/stem.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    
}
.nav__container {
    background-color:#22BABB;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navigation ul {
    display: flex;
    gap: 3em;
  }
  .navigation ul li {
    list-style-type: none;
  }
  .navigation ul li:hover {
    background-color: #FA7F08;
  
    color: aliceblue;
    cursor: pointer;
    border-radius: 20px;
  }
  .navigation ul li a {
    text-decoration: none;
    color: black;
  }

.hero__content{
    background-color:#9EF8EE;
    // padding: 2em;
    text-align: center;
}

// list

.main-container{
    display: flex;
  text-align: center;
  // padding: 3em;
  }
  
  .main-content__left h3 {
    font-size: 1rem;
    // padding-top: 6rem;
  }
  .main-content__left h1 {
    font-size: 2rem;
    
  }
  .main-content__list{
  border-bottom: 3px solid black;
  }
  .main-content__list ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1em;
      }
      .main-content__list ul li:hover{
      
        cursor:pointer;
        border-bottom: 3px solid #FA7F08;
     
      }

      .main__content1{
        padding:2em;
        font-size: 20px;
        background-color: #9EF8EE;
        img{
          display: flex;
        //  margin-left: 50%;
        }
      }