@use "../utilites/mixins" as *;
@use "../utilites/variables" as *;
.hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/Screenshot from 2024-02-20 08-55-19.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 80vh;
     @include flex(center,center,column);
    
    color: white;
    
}


    .btn{
        padding: 2em 5rem;
        border-radius: 50px;
        border: none;
        text-align: center;
          
    }
    
    

    .blue{
        background-color:$blue;
    
    }
    .orange{
        background-color:$orange
}
.yellow{
    background-color:$yellow;
}
.pink {
    background-color:$pink;
}




.science{
    display: flex;
    justify-content: space-between;
    box-shadow:inset;
    border: darkgray;
    border-color: darkgray;
    margin-top: 2rem;
    height: 80%;
    
    
}
.paragraph{
    color:darkgray;
    padding: 2rem;
    font-size: 20px;
    font-weight: bold;
    height: 50%;
width: 30%;
margin: 0 auto;

}
.hero h1{
    font-size:4rem;
    font-weight: bolder;

    
    
}
.stem{
    color:red;
}
.circles{
    border-radius: 50%;
    height: 50px;
    border: none;
    padding: 5em;
    width: 50px;
    text-align: center;
@include flex(center,center)

}

.round__circles{
@include flex(center,center);
gap:3rem;
margin-top: 2rem;
margin-bottom: 2rem;
}

.tech{
padding: 2em;
    width: 90%;

    text-align: center;
    box-shadow: 0px 0px 5px darkgray;
    margin-bottom: 2rem;

}
.text{
    text-align: center;
    font-size: 3rem;
    font-weight:2rem ;
}
.tech:nth-child(2){
    margin-left: 1em;
    margin-right:1em;
    
}
 .hero__steam{
    background-color: $aqua-blue;
    @include flex(center,center,column);
    padding-top: 2em;
    
    }
 .hero__content{
@include flex(center,center);
margin-top: 2em;
}

.hero__content ul{
    @include flex(center,center,column);
    text-align:center;
    padding-top: 2em;
}
.about__us{
    @include flex(center,center);
    gap: 3em;
    padding: 3em;
    margin-top:2em;
}
.about__paragraph{
    flex:1;
    width: 50%;
}
.about__img{
    flex:1;
    width: 50%;
    
}
.about__us h3{
    margin-top: 1em;
    font-size: 2rem;
    font-weight: 2rem;
}

.about__us h2{
color:$blue;
font-weight: 3em;
font-size:3em;
}