@use "../utilites/mixins" as *;
@use "../utilites/variables" as *;

.nav__container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation ul {
  display: flex;
  gap: 3em;
}
.navigation ul li {
  list-style-type: none;
}
.navigation ul li:hover {
  background-color: rgb(233, 57, 86);
  color: aliceblue;
}
.navigation ul li a {
  text-decoration: none;
  color: black;
}
// .hero{
//     height: 100vh;
//     @include flex(center,center)

// }
.hero__content {
  background-color: white;
  min-width: 400px;
  text-align: center;


  &__header {
    height: 500px;
    background: url("/images/donate.jpg") no-repeat center center/cover;

 .white{
    color: white;

 }
  }
.card{
    height: 600px;
    width: 400px;
    background-color: palevioletred;
    text-align: center;
margin-left: 35%;
margin-right: 10%;
    border-radius: 20px;
    // flex-direction: column;
    
    &__body{
        button {
          background-color: plum;
            border:none;
            margin: 30px;
            padding: 10px;
            border-radius: 20px;
            height: 200%;
        }
       
        .wrapper input{
            background-color: purple;
            border:2px solid white;
            border-radius: 20px;
            padding: 1rem 1rem;
            // width: 100%;
           
        }
    }
}
}
@media  screen and  (max-width:600px) {
    
}
