@use "../utilites/mixins" as *;
@use "../utilites/variables" as *;
.sumulation__content{
  background-image: url(../images/pexels-photo-6281049.jpeg);
  height: 60vh;
}
.simulation__phyc{
  @include flex(center,center);
  gap:3em;
padding-bottom: 2em;
}
.simulation__content__profile{
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight:2em ;
}
  .simulation__content__profile h2{
    color:$orange ;
    margin-bottom: 1em;
  }
  .sumulation__chemestry{
    @include flex(center,center);
    gap: 3em;
    padding-bottom: 2em;
  }