@use "../utilites/mixins" as *;
@use "../utilites/variables" as *;
.simulation__content{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/back.png");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex(center,center,column );
  text-align: center;
  color:$aqua-blue;
  font-size: 2em;
  font-weight:1.5em;

}


.simulation__subject{
  @include flex(center,center);
  gap:3em;
padding-bottom: 2em;
}
.simulation__content__profile{
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight:2em ;
}
  .simulation__content__profile h2{
    color:$orange ;
    margin-bottom: 1em;
  }
  
  